@using FollowMyTv.DomainLayer
@model FollowMyTv.DomainLayer.Show

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Show</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        @for ( int i = 0 ; i < Model.Seasons.Count ; ++i )
        {
            <fieldset>
                <legend>Season</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Seasons[i].Number)
                </div>
                <div class="editor-field">
                    @Html.EditorFor( model => model.Seasons[i].Number )
                    @Html.ValidationMessageFor( model => model.Seasons[i].Number )
                </div>

                <div class="editor-label">
                    @Html.LabelFor( model => model.Seasons[i].Name )
                </div>
                <div class="editor-field">
                    @Html.EditorFor( model => model.Seasons[i].Name )
                    @Html.ValidationMessageFor( model => model.Seasons[i].Name )
                </div>

                <div class="editor-label">
                    @Html.LabelFor( model => model.Seasons[i].Debut )
                </div>
                <div class="editor-field">
                    @Html.EditorFor( model => model.Seasons[i].Debut )
                    @Html.ValidationMessageFor( model => model.Seasons[i].Debut )
                </div>

                <div class="editor-label">
                    @Html.LabelFor( model => model.Seasons[i].Finale )
                </div>
                <div class="editor-field">
                    @Html.EditorFor( model => model.Seasons[i].Finale )
                    @Html.ValidationMessageFor( model => model.Seasons[i].Finale )
                </div>
            
                @for( int j = 0; j < Model.Seasons[i].Episodes.Count; ++j )
                {            
                    <fieldset>
                        <legend>Episode</legend>

                        <div class="editor-label">
                            @Html.LabelFor( model => Model.Seasons[i].Episodes[j].Number )
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor( model => Model.Seasons[i].Episodes[j].Number )
                            @Html.ValidationMessageFor( model => Model.Seasons[i].Episodes[j].Number )
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor( model => Model.Seasons[i].Episodes[j].Title )
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor( model => Model.Seasons[i].Episodes[j].Title )
                            @Html.ValidationMessageFor( model => Model.Seasons[i].Episodes[j].Title )
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor( model => Model.Seasons[i].Episodes[j].Duration )
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor( model => Model.Seasons[i].Episodes[j].Duration )
                            @Html.ValidationMessageFor( model => Model.Seasons[i].Episodes[j].Duration )
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor( model => Model.Seasons[i].Episodes[j].Synopsis )
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor( model => Model.Seasons[i].Episodes[j].Synopsis )
                            @Html.ValidationMessageFor( model => Model.Seasons[i].Episodes[j].Synopsis )
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor( model => Model.Seasons[i].Episodes[j].Score )
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor( model => Model.Seasons[i].Episodes[j].Score )
                            @Html.ValidationMessageFor( model => Model.Seasons[i].Episodes[j].Score )
                        </div>
                    </fieldset>
                }
            </fieldset>
        }
        
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
