@model FollowMyTv.WebApp.Models.EpisodeModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>EpisodeModel</legend>

    <div class="display-label">ShowName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowName)
    </div>

    <div class="display-label">SeasonNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeasonNumber)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">Synopsis</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Synopsis)
    </div>

    <div class="display-label">Score</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
